@import "tailwindcss";

/* import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css"; */

.transform-aminate{
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/*  */
@layer utilities {
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
  
    .animate-scroll {
      animation: scroll 20s linear infinite;
    }
  }
