@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

*{
    /* font-size: 18px; */
    font-family: var(--font-secondary);
}

:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Figtree", sans-serif;
    --color-primary: #4F39F6;
    --color-secondary: #ecc94b;
}

.transform-aminate{
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/*  */
@layer utilities {
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
  
    .animate-scroll {
      animation: scroll 20s linear infinite;
    }
  }

  /* slider dots */
  .hero-slider .slick-dots {
  bottom: 20px;
}

.hero-slider .slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
}

.hero-slider .slick-dots li.slick-active button:before {
  color: #3b82f6;
  opacity: 1;
}

/*  */
/* Add to your index.css */
.glassmorphic-header, .glassmorphic-btn {
  background: rgba(24, 28, 43, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.18);
}